<div class="container-fluid">
  <h2>Login Form</h2>
  {{loginForm.value | json}}
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <div class="form-group">
      <label>Username</label>
      <input formControlName="user" type="text" class="form-control">
      <small class="text-danger" *ngIf="user && user.invalid && user.touched">This field is not valid</small>
    </div>

    <div class="form-group">
      <label>UserEmail</label>
      <input formControlName="userEmail" type="text" class="form-control">
      <small class="text-danger" *ngIf="userEmail && userEmail.invalid && userEmail.touched">This field is not valid</small>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control">
      <small class="text-danger" *ngIf="password && password.invalid && password.touched">This field is not valid</small>
    </div>

    <div formGroupName="address">
      <div class="form-group">
        <label>City</label>
        <input formControlName="city" type="text" class="form-control">
        <small class="text-danger" *ngIf="city && city.invalid && city.touched">This field is not valid</small>
      </div>
      
      <div class="form-group">
        <label>State</label>
        <input formControlName="state" type="text" class="form-control">
        <small class="text-danger" *ngIf="state && state.invalid && state.touched">This field is not valid</small>
      </div>

      <div class="form-group">
        <label>Postal Code</label>
        <input formControlName="postalCode" type="text" class="form-control">
        <small class="text-danger" *ngIf="postalCode && postalCode.invalid && postalCode.touched">This field is not valid</small>
       
      </div>

    </div>

    <button [disabled]="loginForm.invalid" class="btn btn-primary" >Login</button>

  </form>
  
</div>